<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.myapp.service.dao.CartDAO">

	<resultMap id="cartMap" type="com.mycompany.myapp.vo.CartVO">
		<result property="userNo" column="UserNo" />
		<result property="itemId" column="ItemId" />
		<result property="cartNo" column="CartNo" />
		<result property="amount" column="Amount" />
		<result property="regDate" column="RegDate" />
	</resultMap>

	<resultMap id="bookMap" type="com.mycompany.myapp.vo.BookVO">
		<result property="itemID" column="ItemId" />
		<result property="title" column="Title" />
		<result property="isbn" column="Isbn" />
		<result property="author" column="Author" />
		<result property="description" column="Description" />
		<result property="priceStandard" column="PriceStandard" />
		<result property="coverLargeUrl" column="CoverLargeUrl" />
		<result property="categoryId" column="CategoryId" />
		<result property="categoryName" column="CategoryName" />
		<result property="publisher" column="Publisher" />
		<result property="pubDate" column="PubDate" />
	</resultMap>

	<resultMap type="com.mycompany.myapp.vo.CartProductVO"
		id="cartProductMap">
		<collection property="cartVO" resultMap="cartMap" />
		<collection property="bookVO" resultMap="bookMap" />
	</resultMap>

	<resultMap type="com.mycompany.myapp.vo.OrderListVO"
		id="orderListMap">
		<result property="orderListNo" column="OrderListNo" />
		<result property="userNo" column="UserNo" />
		<result property="cartNo" column="CartNo" />
		<result property="itemId" column="ItemId" />
	</resultMap>

	<!-- Cart ItemId 중복값 방지 체크 -->
	<select id="checkItemId" parameterType="cartVO" resultType="int">
		SELECT count(ItemId) FROM Cart
		WHERE ItemId = #{itemId} AND CartNo = #{cartNo}
	</select>

	<!-- 카트 insert -->
	<insert id="insertCart" parameterType="cartVO">
		INSERT INTO Cart(UserNo,
		ItemId, Amount, CartNo)
		VALUES(#{userNo}, #{itemId}, #{amount},
		#{cartNo})
	</insert>

	<!-- 카트 특정유저 장바구니 확인 -->
	<select id="getOneCart" resultMap="cartProductMap">
		SELECT * FROM Cart c, Book b
		WHERE CartNo = #{cartNo} AND c.ItemId = b.ItemId
	</select>

	<!-- 장바구니 수정 -->
	<update id="updateCart" parameterType="cartVO">
		UPDATE Cart
		SET Amount = #{amount}
		<if test="itemId != null">
			WHERE ItemId = #{itemId} AND CartNo = #{cartNo}
		</if>
	</update>

	<!-- 장바구니 삭제 -->
	<delete id="deleteCart" parameterType="cartVO">
		DELETE FROM Cart
		WHERE CartNo = #{cartNo} AND ItemId = #{itemId}
	</delete>

</mapper>

