<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.myapp.service.dao.MemberDAO">


	<resultMap id="MemberMap"
		type="com.mycompany.myapp.vo.MemberVO">

		<result property="userNo" column="UserNo" />
		<result property="id" column="UserId" />
		<result property="password" column="UserPassword" />
		<result property="name" column="UserName" />
		<result property="nickname" column="UserNickName" />
		<result property="gender" column="UserGender" />
		<result property="birthdate" column="UserBirthday" />
		<result property="mail1" column="UserEmail" />
		<result property="phone" column="UserPhone" />
		<result property="address" column="UserAddress" />
	</resultMap>

	<!-- 회원가입 insert -->

	<insert id="MemberInsert">
		INSERT INTO User
		( UserId, UserPassword, UserName,
		UserNickName, UserGender,
		UserBirthday, UserEmail, UserPhone,
		UserAddress)
		VALUES (#{id}, #{password}, #{name}, #{nickname},
		#{gender}, #{birthdate},
		#{mail1}, #{phone}, #{address})

	</insert>
	<!-- 로그인체크 -->
	<select id="LoginCheck" resultMap="MemberMap">
		SELECT * <!-- MemberVO 전체를 가져오게끔 수정함 -->
		FROM User
		where UserId = #{id}
		and UserPassword = #{password}
	</select>

	<!-- ReadMember -->
	<select id="readMember" resultMap="MemberMap">
		SELECT *
		FROM User
		WHERE UserId
		= #{id}
	</select>
	<!-- 아디 중복체크 -->

	<select id="IdCheck" resultType="int">
		SELECT COUNT(*) FROM User
		WHERE
		UserId = #{id}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updatePw">
		update User set UserPassword = #{password} where UserId = #{id}
	</update>

</mapper>