<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="boardVO" type="com.mycompany.myapp.vo.BoardVO" />
		<typeAlias alias="pageVO" type="com.mycompany.myapp.vo.PageVO" />
		<typeAlias alias="bookVO" type="com.mycompany.myapp.vo.BookVO" />
		<typeAlias alias="cartVO" type="com.mycompany.myapp.vo.CartVO" />
		<typeAlias alias="cartProductVO" type="com.mycompany.myapp.vo.CartProductVO" />
	</typeAliases>
</configuration>
