<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="testVO" type="com.mycompany.myapp.vo.TestVO" />
		<typeAlias alias="boardVO" type="com.mycompany.myapp.vo.CommunityVO" />
		<typeAlias alias="pageVO" type="com.mycompany.myapp.vo.PageVO" />
	</typeAliases>
</configuration>
