#container {
	margin: 0 auto;
	width: 1100px;
	overflow: hidden;
}

/* 타이틀 */
#title ul li {
	list-style: none;
}

#title {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	font-size:30px;
	font-weight:bold;
}

#wrap {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

/* 카테고리 메뉴 */
#category {
	height: 40px;
	padding: 0;
	text-align: left;
}

#category button {
	color: #fff;
	background-image: -webkit-linear-gradient(45deg,#7effa8,#3fcbff);
	outline: none;
	border: 0;
	border-radius: 6px;
	width: 30%;
	height: 130%;
	padding: 10px;
	font-weight: bold;
	font-size: 16pt;
}

/* 장르 메뉴 */
#genre {
	text-align: left;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 60px;
	border: 3px dotted #dddddd;
	border-radius: 10px;
}

#genre ul li {
	list-style: none;
	font-size: 15px;
	margin-right: 60px;
	padding: 0px;
	display: inline;
	height: 40px;
	font-weight: bold;
	cursor: pointer;
}

#genre ul li a {
	text-decoration: none;
	color: #555;
}

/* hr 관련 */
.line {
	border: none;
	height: 1px;
	background-color: #dddddd;
	margin-bottom:20px;
}

/*장르 하단 바*/
#bottomLine {
	display: flex;
}

#bottomLine #genre1 {
   display: none;
   margin-top: 10px;
   width: 85px;
   height: 2px;
   background: black;
}

#bottomLine #genre2 {
   display: none;
   margin-top: 10px;
   margin-left: 145px;
   width: 95px;
   height: 2px;
   background: black;
}

#bottomLine #genre3 {
   display: none;
   margin-top: 10px;
   margin-left: 300px;
   width: 50px;
   height: 2px;
   background: black;
}

#bottomLine #genre4 {
   display: none;
   margin-top: 10px;
   margin-left: 410px;
   width: 50px;
   height: 2px;
   background: black;
}

#bottomLine #genre5 {
   display: none;
   margin-top: 10px;
   margin-left: 520px;
   width: 75px;
   height: 2px;
   background: black;
}

#bottomLine #genre6 {
   display: none;
   margin-top: 10px;
   width: 100px;
   height: 2px;
   background: black;
}

#bottomLine #genre7 {
   display: none;
   margin-top: 10px;
   margin-left: 160px;
   width: 65px;
   height: 2px;
   background: black;
}

#bottomLine #genre8 {
   display: none;
   margin-top: 10px;
   margin-left: 290px;
   width: 60px;
   height: 2px;
   background: black;
}

#bottomLine #genre9 {
   display: none;
   margin-top: 10px;
   margin-left: 415px;
   width: 60px;
   height: 2px;
   background: black;
}

#bottomLine #genre10 {
   display: none;
   margin-top: 10px;
   margin-left: 540px;
   width: 30px;
   height: 2px;
   background: black;
}

/* 내용 */
#content {
	width: 1100px;
	margin-top: 60px;
	vertical-align: center;
	text-align: left;
}

#content ul li {
	list-style: none;
	height: 300px;
	display: list-item;
}

#content ul {
	padding-inline-start: 10px;
}

/* 이미지 부분 */
#content .info_area .image {
	position: absolute;
	/* margin-right: 100px; */
}

#content ul li img {
	/* float: left; */
	width: 150px;
	height: 200px;
	
}

/* 설명 부분 */
#content .thumb_cont {
	position: relative;
    margin: 25px 20px 25px 0px;
}

#content .info_area .detail {
	margin-left: 190px;
	margin-right: 140px;
}

#content .info_area .detail .title a {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 6px;
	text-decoration: none;
	color: #555;
}

#content .info_area .detail .pub_info {
	margin-bottom: 6px;
}

#content .info_area .detail .author {
	display: inline-block;
	padding-right: 3px;
}

#content .info_area .detail .publication {
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
}

#content .info_area .detail .publication_date {
	display: inline-block;
	padding-left: 6px;
}

#content .info_area .detail .price {
	margin-bottom: 7px;
	color: #fe0000;
	font-size: 18px;
	font-weight: bold;
}

#content .info_area .detail .info {
	line-height: 1.4;
}

/* 구매 버튼 부분 */
.thumb_cont .buy_button {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    width: 118px;
    margin-top: -64px;
}

#content ul li .buy_button button {
	float: right;
	width: 120px;
	height: 50px;
	color: black;
	font-weight: bold;
	outline: none;
}

#content ul li .buy_button button:first-child {
	margin-bottom: 30px;
	border: 1px solid;
	border-radius: 4px;
	border-image: linear-gradient(61deg, #7effa8, #3fcbff);
	border-image-slice: 1;
	background: white;
}

#content ul li .buy_button button:last-child {
	margin-bottom: 30px;
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(61deg, #7effa8, #3fcbff);
}

#content ul li .info_area {
	margin-bottom: 200px;
}

#content ul li .info_area:last-child {
	margin-bottom: 150px;
}

/* 페이징 부분 */
#wrap .paging a {
	display: inline-block;
	vertical-align: middle;
    width: 10px;
    height: 24px;
    padding: 8px;
    line-height: 30px;
    text-decoration: none;
	color: #444;
}

#wrap .paging ul {
	display: inline;
	padding-inline-start: 8px;
}

#wrap .paging ul li {
	display: inline;
	padding: 0 3px;
	height: 30px;
	text-align: center;
    font-weight: bold;
    line-height: 30px;
    
}

.footer div {
	float: left;
}

.footer {
	margin: 0 auto;
	width: 1050px;
	height: 300px;
}