button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

two_1 {
	height: 2px;
	border: none;
	background-image: -webkit-linear-gradient(45deg, #7effa8, #3fcbff);
}

#container {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

#content {
	position: relative;
	margin: 0 auto;
	width: 1080px;
}

#title_wrap {
	font-size: 32px;
	margin: 50px auto;
	font-weight: bold;
	text-align: center;
}

#cartItemList {
	position: relative;
	width: 1080px;
	margin: 0 auto;
	z-index: 3;
}

.cart_item {
	float:left;
	font-size: 15px;
	padding: 16px 0px 15px;
    overflow: hidden;
	border-bottom: 1px solid;
	width: 100%;
}

.check {
	margin-right: 10px;
}

.btn_delete {
	padding: 6px 8px 6px;
    background-color: #fff;
    border: 1px solid #aaa;
    color: #193b78;
    box-shadow: none;
    cursor: pointer;
}

#item {
	margin-top: 30px;
}

#items {
	padding: 50px 0px;
}

#category {
	margin: 20px 0;
	font-weight: bold;
	font-size: 20px;
}

#bookimg {
	width: 40px;
	height: 40px;
	transform: translateY(8px);
	margin-right: 10px;
}

#bookname {
	display: inline-block;
	font-size: 20px;
	width: 450px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 170px;
}

#bookamount {
	text-align: center;
}

.updown {
	width: 100px;
}
.p_num {
	text-align: center;
	width: 22px;
}

.amount_dec{
	width : 22px;
	text-align: center;
}

.amount_inc{
	width : 22px;
	text-align: center;
}

#bookprice {
	margin-left: 100px;
	width : 80px;
}

#cancel_btn {
	margin-left: 10px;
	width: 32px;
}

.inner_result {
	padding: 12px;
	position: absolute;
	margin-left: 1100px;
	margin-top: -180px;
	font-size: 20px;
	margin-right: 20px;
	line-height: 30px;
	border: 1px solid gray;
	position: absolute;
    right: 50%;
    top: 430px;
    margin-right: -850px;
}

.amount_view {
	
}

.tit {
	font-size: 15px;
	font-weight: bold;
}

.delivery {
	margin-top: 40px;
	font-size: 12px;
	color: gray;
}

a.btn {
	padding: 0.5rem 2rem;
	border: 2px solid #7effa8;
	text-decoration: none;
	color: black;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 110px;
	border-radius: 4px;
}

dl.amount {
	margin-top: 40px;
}

.btn_submit {
	
}

.btn_submit .active {
	margin-top: 30px;
	padding: 0.5rem 1rem;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: auto;
	border: none;
	border-radius: 4px;
	padding-right: 57px;
	padding-left: 57px;
	border: solid 3px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0)), linear-gradient(61deg, #7effa8, #3fcbff);
	background-origin: border-box;
	background-clip: content-box, border-box;
	cursor: pointer;
}

.footer div {
	float:left;
}

.footer {
	margin:0 auto;
	width:1050px;
	height:300px;
}